<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Listado de vacantes</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
</head>
<body>
	<img alt="logo" th:src="@{/images/logo.png}" width="136" height="136">
	<h1 class="text-primary">Lista de vacantes</h1>
	<table class="table table-striped table-bordered table-hover">
		<tr>
			<th>Logo</th>
			<th>Id</th>
			<th>Nombre</th>
			<th>Fecha de Pub</th>
			<th>Salario Ofrecido</th>
			<th>Descripcion</th>
			<th>Destacada</th>
			<th>Detalle</th>
			<th>Borrar</th>

		</tr>

		<tr th:each="vacante : ${vacantes} ">
			<td><img th:src="@{/images/{img} ( img=${vacante.imagen} )  }"
				width="136" height="136"></td>
			<td th:text="${vacante.id}"></td>
			<td th:text="${vacante.nombre}"></td>
			<td th:text="${vacante.fecha}"></td>
			<td th:text="${vacante.salario}"></td>
			<td th:text="${vacante.descripcion}"></td>
			<!--  <td th:text="${vacante.destacado == 1 ? 'Si' : 'No'}"></td>-->
			<td><span th:if="${vacante.destacado==1}"
				class="badge badge-success">Si</span> <span
				th:unless="${vacante.destacado==1}" class="badge badge-danger">No</span>
			</td>
			<td><a th:href="@{/vacantes/view/{id} (id=${vacante.id})  }"
				class="btn btn-success">Detalle</a></td>
			<td><a th:href="@{/vacantes/delete(id=${vacante.id})  }"
				class="btn btn-danger">Borrar</a></td>


		</tr>

	</table>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
		integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
		crossorigin="anonymous"></script>
</body>
</html>