<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Detalle de la vacante</title>
</head>
<body>
		<h1 th:text="'El id es: ' + ${idVacante}"></h1>
</body>
</html>